/* Custom Stylesheet */
@font-face {
  font-family: 'RG2014C';
  src: url('./RG2014/RG2014C.eot');
  src: url('./RG2014/RG2014C.eot?#iefix') format('embedded-opentype'),
       url('./RG2014/RG2014C.woff2') format('woff2'),
       url('./RG2014/RG2014C.woff') format('woff'),
       url('./RG2014/RG2014C.ttf') format('truetype'),
       url('./RG2014/RG2014C.svg#RG2014C') format('svg');
}
@font-face {
  font-family: 'RG2014D';
  src: url('./RG2014/RG2014D.eot');
  src: url('./RG2014/RG2014D.eot?#iefix') format('embedded-opentype'),
       url('./RG2014/RG2014D.woff2') format('woff2'),
       url('./RG2014/RG2014D.woff') format('woff'),
       url('./RG2014/RG2014D.ttf') format('truetype'),
       url('./RG2014/RG2014D.svg#RG2014D') format('svg');
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
html {
  font-family: RG2014C;
}
.sidenav {
  color: #000000;
}
.sidenav-trigger {
  color: #000000;
}
nav .brand-logo {
  display: contents;
}
#logo-container {
  pointer-events: all;
}
li {
  font-weight: 500;
}
.brand-logo {
  font-weight: 500;
}
.btn-large:hover {
  transform: scale(1.1);
}
.filled-in.filled-in:checked+span:not(.lever):after {
  border: 2px solid #000000;
  background-color: #000000;
}
p {
  font-size:1.4rem;
}
a {
  font-size: 1.4rem;
  color: black;
}
a:link {
  color: teal;
}
a:visited {
  color: purple;
}
a:link:hover {
color: blue; /* Mouse over link */
text-decoration: underline;
}
a:visited:hover {
color: blue; /* Mouse over link */
text-decoration: underline;
}
h1 {
  font-size: 3.5rem;
  font-weight: 500;
}
h2 {
  font-size: 2.2rem;
  font-weight: 500;
  counter-reset: numbercount;
}
h3 {
  font-size: 1.7rem;
  font-weight: 500;
}
.numbering::before {
  counter-increment: numbercount;
  content: counter(numbercount) ". ";
}
