/* Custom Stylesheet */



.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
html {
  font-family: Segoe UI;
  overflow: hidden;
  overflow-y: hidden;
  height: 100%;
}
.sidenav {
  color: #000000;
}
.sidenav-trigger {
  color: #000000;
}
nav .brand-logo {
  display: contents;
}
#logo-container {
  pointer-events: none;
}
li {
  font-weight: 500;
}
.brand-logo {
  font-weight: 500;
}
.btn-large:hover {
  transform: scale(1.1);
}
body {
  overflow: hidden;
  overflow-y: hidden;
  height: 100%;
}
html, body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.fix-large {
  height: 137vh;
  height: calc(var(--vh, 1vh) * 137);
}
.fix-med {
  height: 150vh;
  height: calc(var(--vh, 1vh) * 150);
}
.fix-small {
  height: 150vh;
  height: calc(var(--vh, 1vh) * 150);
  margin-top: 28vh;
  margin-top: calc(var(--vh, 1vh) * 28);
}
