/* Custom Stylesheet */
@font-face {
  font-family: 'RG2014C';
  src: url(https://funnyfoodguy.com/css/RG2014/RG2014C.eot);
  src: url(https://funnyfoodguy.com/css/RG2014/RG2014C.eot?#iefix) format('embedded-opentype'),
       url(https://funnyfoodguy.com/css/RG2014/RG2014C.woff2) format('woff2'),
       url(https://funnyfoodguy.com/css/RG2014/RG2014C.woff) format('woff'),
       url(https://funnyfoodguy.com/css/RG2014/RG2014C.ttf) format('truetype'),
       url(https://funnyfoodguy.com/css/RG2014/RG2014C.svg#RG2014C) format('svg');
}
@font-face {
  font-family: 'RG2014D';
  src: url(https://funnyfoodguy.com/css/RG2014/RG2014D.eot);
  src: url(https://funnyfoodguy.com/css/RG2014/RG2014D.eot?#iefix) format('embedded-opentype'),
       url(https://funnyfoodguy.com/css/RG2014/RG2014D.woff2) format('woff2'),
       url(https://funnyfoodguy.com/css/RG2014/RG2014D.woff) format('woff'),
       url(https://funnyfoodguy.com/css/RG2014/RG2014D.ttf) format('truetype'),
       url(https://funnyfoodguy.com/css/RG2014/RG2014D.svg#RG2014D) format('svg');
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body {
  font-family: RG2014C;
}
html {
  font-family: RG2014C;
  overflow: hidden;
  overflow-y: hidden;
}
.sidenav {
  color: #000000;
}
.sidenav-trigger {
  color: #000000;
}
nav .brand-logo {
  display: contents;
}
#logo-container {
  pointer-events: none;
}
li {
  font-weight: 500;
}
.brand-logo {
  font-weight: 500;
}
.btn-large:hover {
  transform: scale(1.1);
}
